@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('layout.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: var(--bg);
    font-family: "Poppins";
}

svg{
    @apply
    fill-neutral-400;
    height: 24px;
    width: 24px;
}

header,
.hero,
.features,
.review-section,
.blog,
.signup{
    @apply
    pt-12
    pb-12
    ps-12
    pe-12;
}

header,
.hero{
    @apply
    bg-neutral-800;
}

header{
    @apply
    pt-6
    pb-6
}

.logo{
    @apply
    text-neutral-50
    text-xl
    font-bold;
}

.nav{
    display: none;
    flex-direction: column;
    gap: 16px;
}

.nav-link{
    @apply
    text-neutral-400;
}

.section-title{
    @apply
    text-2xl
    font-bold;
}

.hero{
    @apply
    flex
    flex-col
    gap-4
}

.hero-title{
    @apply
    text-neutral-50
    text-3xl
    text-pretty
    text-center;
}

.hero-text{
    @apply
    text-neutral-400
    text-center
    pt-4
    pb-4
    text-lg;
}

.hero-actions{
    @apply
    flex
    flex-col
    gap-4;
}

.hero .btn-start{
    @apply
    text-neutral-50
    p-3
    bg-blue-500
    text-center
    rounded-md;
}

.hero .btn-learn{
    @apply
    text-neutral-50
    p-3
    text-center
    rounded-md
    border-2
    border-neutral-50;
}

.hero-img{
    display: none;
}

.features,
.features-grid{
    @apply
    flex
    flex-col
    gap-4
}

.feature-card{
    @apply
    flex
    flex-col
    gap-4;
}

.feature-title{
    @apply
    font-bold
    text-lg;
}

.feature-icon{
    @apply
    w-fit
    p-4
    bg-blue-600
    rounded-lg;
}

.feature-icon svg{
    @apply
    fill-neutral-50;
}

.review-section{
    @apply
    bg-neutral-200
}

.review-text{
    @apply
    text-xl
    font-light
    italic;
}

.author{
    @apply
    pt-4
    flex
    items-center
    gap-4;
}

.author-img img{
    @apply
    rounded-full;
}

.author-name{
    @apply
    font-semibold;
}

.section-title{
    @apply
    text-center;
}

.blog-desc{
    @apply
    p-4
    pb-8
    text-lg
    text-center;
}

.post{
    @apply
    rounded-lg
    shadow-lg;
}

.post-info{
    @apply
    p-4;
}

.post-badge{
    @apply
    text-white
    bg-blue-600
    w-1
    h-4
    p-0.5
    rounded-full
    text-sm;
}
